
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h2{
  font-size: 40px;
  letter-spacing: 4px;
  margin-top: 130px;
}

.montserrat-font-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.decorative-line {
  width: 200px;
  height: 2px;
  background-color: #000000;
  margin: 0 auto 1.5rem auto;
}
hr{
  left: 50%;
}

.txt-description{
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  text-align: justify;
  margin-top: 3rem;
    line-height: 1.6;
}
.v-sheet{
    background: none;
}

@media (max-width: 768px) {
  h2{
    font-size: 25px;
  }
  .txt-description{
    font-size: 15px;
  }
}

